@import 'normalize.css';

#backgroundContainer {
  background-color: #e0cacb;
  width: 100vw!important;
  height: 100vh!important;

  display: flex;
  flex-direction: column;
  align-items: center;
  #title{
    font-size: 5em;
    color: #ce4f71;
    font-family: 'Roboto', sans-serif;
  }
  #mainContainer {
    background-color: white;
    box-shadow: 20px 10px 5px #c9b5b6;
    width: 50vw;
    border-radius: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    #loversContainer {
      padding-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0.6em 0 0 0;
      .avatar {
        height: 100px;
      }
      #plus{
        font-weight: normal;
        font-size: 45px;
        font-family: 'Roboto', sans-serif;
      }
    }

    #dates {
      display: flex;
      flex-direction: column;
      text-align: center;
      #dateForm{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 0.5em;
        #togetherText{
          margin: 0;
          font-family: 'Roboto', sans-serif;
          display: flex;
          align-items: center;
        }
        #form{
          display: flex;
          flex-direction: row;
          align-items: center;
          label{
            padding: 0.7em 0.3em 0.3em 0.3em;
            .formInput{
              width: 2.3em;
              height: 2.2em;
              margin: 0;
              border: 3px solid #ce4f71;
              border-radius: 0.5em;
              font-family: 'Roboto', sans-serif;
              text-align: center;
              &:focus{
                border: 3px solid black;
              }
            }
            #yearInput{
              width: 3.3em;
            }
            .error{
              color: red;
              height: 0.5em;
              margin-block-start: 0;
              margin-block-end: 0;
              font-size: 0.64em;
              font-family: 'Roboto', sans-serif;
            }
          }
          #button{
            height: 6vh;
            width: 6vh;
            background-image: url("/public/img/button.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            text-indent: -9999px;
            border-radius: 3em;
            border: none;
            margin: 0.3em 1em 0.5em 1.5em;
            &:hover{
              background-image: url("/public/img/hoverButton.png");
            }
            &:active{
              background-image: url("/public/img/activeButton.png");
            }
          }
        }
      }
      #resultAges{
        display: flex;
        flex-direction: column;
        align-items: center;
        #rowAgeInMonth, #rowAgeInDays, #rowFullAge{
          display: flex;
          flex-direction: row;
          align-items: center;
          .resultText{
            margin: 0 0 0.5em 0;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 25px;
            text-align: center;
          }
          #relationshipAgeInMonth, #relationshipAgeInDays, #relationshipAgeYears, #relationshipAgeMonths, #relationshipAgeDays{
            color: #ce4f71;
            font-weight: bold;
          }
        }
        .orText {
          margin: 0 0 0.5em 0;
          font-family: 'Roboto', sans-serif;
          font-weight: normal;
          font-size: 18px;
        }
        .resultText{
            margin: 0 0 0.5em 0;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 25px;
          }
      }

      //.resultText{
      //  margin: 0 0 0.5em 0;
      //  font-family: 'Roboto', sans-serif;
      //  font-weight: normal;
      //  font-size: 25px;
      //}
      //.orText{
      //  margin: 0 0 0.5em 0;
      //  font-family: 'Roboto', sans-serif;
      //  font-weight: normal;
      //  font-size: 18px;
      //
      //}
    }
  }
}